/*-- scss:defaults --*/

// Type $ to get RevealJS-specific variable completions
// Examples: $body-bg, $presentation-font-size-root, $presentation-h1-font-size

$body-bg: #1a1a2e;
$body-color: #eaeaea;
$link-color: #e94560;
$presentation-font-size-root: 42px;
$presentation-heading-color: #ffffff;

$presentation-h1-font-size: 2.5em;
