$colors: (
  "blue": #3085c3,
  "light_blue": #b4ccff,
  "blue_gray": #292e42,
  "aqua": #a5d7e8,
  "light_green": #a8df8e,
  "red": #f78ca2,
  "orange": #ee9322,
  "purple": #986ee2,
  "white": #e6e6e6,
  "black": #2d2d2d,
  "gray": #d2d2d2,
  "light_gray": #f0f0f0,
  "bg": #040312,
);

/*-- scss:rules --*/

@each $name, $color in $colors {
  .reveal .slides section .fragment.hl-#{$name} {
    opacity: unset;
    visibility: unset;

    &.visible {
      background-color: lighten($color, 5%);
    }

    &.current-fragment {
      background-color: $color;
    }
  }
}